{% extends "base.html" %}

{% block title %}Change password...{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 offset-md-3 mt-5 justify-content-center">
            <div class="card">
                <div class="card-body p-5">
                    <h3 class="text-center">Change Password</h3>
                    <hr/>
                    <form  class="form-group" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" class="btn btn-primary" value="Change password"/>
                    </form>
                    <br/>
                    <ul>
                        <li>Votre mot de passe ne peut pas trop ressembler à vos autres informations personnelles.</li>
                        <li>Votre mot de passe doit contenir au minimum 8 caractères.</li>
                        <li>Votre mot de passe ne peut pas être un mot de passe couramment utilisé.</li>
                        <li>Votre mot de passe ne peut pas être entièrement numérique.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
 
{% endblock %}