@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Coming+Soon&family=Rubik:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
}

h2 {
    color: #333333;
}

p {
    font-size: 18px;
    color: #2D3748;
    line-height: 2rem;
}
.navbar-brand {
    font-family: 'Caesar Dressing', cursive;
}

.post:hover {
    transform: scale(1.05);
}

.titre {
    font-family: 'Rubik' , sans-serif;
    color: #333333;
    font-weight: bold;
    text-transform: capitalize;
}

.titre:hover {
    color: rgb(56, 190, 161);
}

.post p > a {
    color: rgb(56, 190, 161);
}

.carousel {
    width: 100%;
    height: 350px;
    background: #074637;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    text-transform: capitalize;
}

h1 {
    font-size: 45px;
    line-height: 1.4em;
}

input.btn-submit {
    background:rgb(56, 190, 161);
}


.details {
    display: flex;
}

.title {
    display: flex;
    flex-direction: column;
    line-height: normal;
    margin-left: 15px;
    font-style: italic;
    color: #aca5a5;
    font-size: 15px;
}

.list {
    display: inline;
}

.list-item {
    display: inline;
    list-style: none;
}

.aide:hover {
    transform: scale(1.05)
}

i.search {
    border: 1px solid rgb(56, 190, 161);
    display: flex;
    cursor: pointer;
}